.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: aqua;
    padding: 12px;
}
.box{
    width: 150px;
    height: 100px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}